<mat-sidenav-container class="sidenav-container">
  <mat-sidenav fxLayout="column" #drawer class="sidenav mat-elevation-z1 app-background" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list fxFlex>
      <div class="full-height full-width" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="full-height full-width">
          <mat-toolbar>Menu</mat-toolbar>

          <div fxLayout="column" *ngFor="let link of links">
            <a mat-list-item href="{{link.url}}">{{link.name}}</a>
            <mat-divider></mat-divider>
          </div>
        </div>
        <a mat-list-item (click)="logout()"> Log out </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z1 app-background">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <span>radar</span>
      </div>

    </mat-toolbar>

    <div style="padding:16px; overflow: auto; height:calc(100% - 75px)" fxLayoutAlign="center start">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>