@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Fira Sans'
);
@include mat-core($custom-typography);

.app-background {
  background-image: url('assets/login_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
